<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TO-Do List</title>
    <link href="styles/styles.css" rel="stylesheet">
</head>
<body>
    <div class="box" id="heading"> <h1><%=thisDay%></h1></div>

    <div class="box">
 
 
     <% for(var i=0;i<newData.length;i++){%>
		<form action="/delete" method="post">
			<div class="item">
				<input type="checkbox" onchange="this.form.submit()" name="deletedItem" value="<%= newData[i]._id %>">
				<p>
					<%= newData[i].name %>
				</p>
			</div>
			<input type="hidden" name="listName" value="<%= thisDay %>"></input>
		</form>
   <% } %>
   <form class="item" action="/" method="post">
    <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
    <button name="list" value="<%= thisDay %>">+</button>
 </form>

</div>

</body>
</html>